@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Kanit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: darkslategrey;
}

header {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
}

.links {
    text-align: center;
    text-decoration: none;
}

#headerline {
    color: azure;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 400px;
    margin-right: 400px;
}

a {
    text-decoration: none;
    color: inherit;
    margin-right: 25px;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 25px;
}

#eventos {
    padding: 50px;
    margin: 50px;
    background-color: antiquewhite;
}



#bodyLine{
    margin-bottom: 25px;
}