<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPA | AGENDA CULTURAL UNIFICADA</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<header>
    <img src="/static/img/logo.png" alt="Logo OPERÁRIOS PELA ARTE" width="160" height="58">
</header>
<body>
    <h1>AGENDA CULTURAL UNIFICADA - LAGARTO</h1>
    <div id="eventos"></div>
    <script src="/static/js/script.js"></script>
</body>
<footer>
    <p>Técnologia desenvolvida pelo Coletivo de Artes Integradas OPERÁRIOS PELA ARTE</p>
</footer>
</html>

<!--RAFFS DIAS-->