<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPA | AGENDA CULTURAL UNIFICADA</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/logo_ACU.png" type="image/x-icon">
    <script src="https://www.instagram.com/embed.js" async defer></script>
</head>
<header>
    <img src="/static/img/logo_ACU.png" alt="Logo AGENDA CULTURAL UNIFICADA DE LAGARTO" width="170" height="80">
    <div class="links">
        <a href="https://www.instagram.com/operariospelaarte/" target="_blank" rel="noopener noreferrer">Operários Pela Arte</a>
        <a href="https://www.instagram.com/versusuni/" target="_blank" rel="noopener noreferrer">Versus Uni</a>
        <a href="https://www.instagram.com/7panos_oficial/" target="_blank" rel="noopener noreferrer">7 Panos</a>
        <a href="https://www.instagram.com/ogrupolivre/" target="_blank" rel="noopener noreferrer">Grupo Livre de Artes</a>
    </div>
    <hr id="headerline">
</header>
<body>
    <h1>AGENDA CULTURAL UNIFICADA - LAGARTO</h1>
    <h2>Próximos eventos:</h2>
    <div id="eventos"></div>
    <script async src="//www.instagram.com/embed.js"></script>
    <script src="/static/js/script.js"></script>
</body>
<footer>
    <p>Técnologia desenvolvida pelo Coletivo de Artes Integradas OPERÁRIOS PELA ARTE</p>
    <img src="/static/img/logo.png" alt="Logo OPERÁRIOS PELA ARTE" width="170" height="80">
</footer>
</html>

<!--RAFFS DIAS-->